<div th:fragment="intro">
    <div class="intro" id="intro">            <!-- intro -->              <!-- main image and some information about site -->
        <div class="container">               <!-- container  -->         <!-- where stay content -->
            <div class="introText">           <!-- text -->               <!-- place where stay some text with button -->
                <h2 class="introTitle">Cakes and desserts</h2>

                <a class="button" href="/">CHOOSE A CAKE OR DESSERT</a>
            </div>                            <!-- /text -->
        </div>                                <!-- /container  -->
    </div>                                    <!-- /.intro -->
</div>